body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  text-align: center;
}

.app-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61DBFB;
}

.board {
  background: #fefefe;
  border-radius: 4px;
  overflow: hidden;
}

.square {
  background: #fff;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 104px;
  height: 104px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 104px;
  box-shadow: 0 0 5px #e0e0e0;
  border: 2px solid #e0e0e0;
  color: #555;
  animation-name: squareMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

@keyframes squareMove {
  0% {transform: rotate(-1deg);}
  50% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}
